# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Logs and Local Credentials
kim.log
keep_credentials.json
.env
__pycache__/

*.log

data.json

# Ignore chatbot discussions
Chatbot Discussions/
**/Chatbot Discussions/

